
.platform-darwin .toolbar-window-controls {
  margin-left: 20px;
}

.platform-darwin .sheet-toolbar {
  height: 58px;
  min-height: 58px;
  max-height: 58px;
  //padding-top: 10px;
}


.sheet-toolbar {

  .toolbar-RootSidebar,
  .toolbar-MessageList,
  .toolbar-ThreadList,
  .item-container {
    top: 10px;
  }

}

.sheet-toolbar .selection-bar .absolute {
  border-left: 1px solid @border-color-primary;
}


.sheet-toolbar-container {
  //background-image: none;
}

.sheet-toolbar .btn-toolbar {
  background: @white;
  box-shadow: none;
}


.btn.btn-toolbar img.content-mask {
  transition: background-color 100ms;
}


.btn.btn-toolbar:hover img.content-mask {
  background-color: @accent-primary-dark;
}

.platform-darwin .search-bar .search-accessory.search {
  left: 16px;
  top: 20px;
}

.platform-darwin .search-bar {
  width: 440px;
  margin-top: 0;
}

.search-bar .menu .header-container input {
  box-shadow: none;
  border-bottom: 1px solid @border-color-secondary;
  border-radius: 0;
  padding: 16px 32px 16px 32px;
}